body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  color: #111;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 2px;
}

h1 {
  font-size: 1.2em;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 1em;
}

.header {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.lang-switch {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 8px;
  border-radius: 6px;
}

.count-product {
  position: absolute;
  top: 0;
  right: 0;
}
/* form */
form {
  background: #ffffff;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
}

input::placeholder {
  color: var(--text-muted);
  opacity: 1;
}

/* product card */
.card {
  position: relative;
  background: white;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  /* form + padding + safe zone , to solve form on card wenn auto scroll */
  scroll-margin-top: 120px;
  scroll-margin-bottom: 80px;
}

.card h3 {
  margin: 0 0 6px 0;
}

.card p {
  margin: 2px 0;
  color: #555;
}

/* buttons */
button {
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  margin: 6px;
}

button:hover {
  opacity: 0.9;
}

.btn-edit {
  background: #3b82f6;
  color: white;
}

.btn-delete {
  background: #ef4444;
  color: white;
}

.btn-add {
  background: #0ca145;
  color: white;
}

.btn-save {
  background: #3c44b9;
  color: white;
}

.btn-cancel {
  background: #dd6a05;
  color: white;
}

* {
  box-sizing: border-box;
}

.input-group {
  display: flex;
  align-items: center;
}

.form-add {
  background: #38c9a9;
}

.form-edit {
  background: #537fd7;
}

.input-group span {
  margin-left: 8px;
}

.form-container {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white; /* หรือ dark mode ของคุณ */
  padding: 2px;
  border-bottom: 1px solid #ccc;
}

.badge-new {
  border-radius: 6px;
  font-weight: bold;
  position: absolute;
  top: 8px;
  right: 8px;
  background: red;
  color: white;
  padding: 2px 6px;
  font-size: 12px;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.highlight {
  animation:
    glowPulse 1s ease-in-out infinite alternate,
    zoomIn 0.4s ease;
}

@keyframes glowPulse {
  from {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.4);
  }
  to {
    box-shadow: 0 0 20px rgba(0, 255, 0, 1);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

.input-error {
  border: 8px solid red;
}

.error-text {
  color: rgb(129, 17, 17);
  font-weight: bold;
  font-size: 15px;
  margin-top: -8px;
  margin-bottom: 8px;
}

.list-container {
  min-height: calc(100vh - 180px); /* ปรับตามความสูง form */
  overflow-y: auto;
  padding-top: 10px;
}

.preview-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999; /* สูงกว่า sticky */
}

.preview-overlay img {
  max-width: 90%;
  max-height: 90%;
}

.preview-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  width: 90%;
  max-width: 400px;
}
